html {
  background-color: #edc7b7;
}

.intro {
  text-align: center;
}

.title {
  font-size: 110px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: #000000;
  margin-bottom: 0;
}

p {
  font-size: 35px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: #222629;
  
}

.button {
  background-color: #aaaaaa00;
  border-radius: 10px;
  color: #222629;
  padding: 15px 32px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 225px;
}

.button:hover {
  color: #ffffff;
  background-color: #222629;
}

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
  width: 50%;
  font-size: 2em;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: 100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: -110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: 100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: -110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: 100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: -110%; opacity: 0; }
}