html {
  background-color: #edc7b7;
}

.intro {
  text-align: center;
}

.title {
  font-size: 110px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: #000000;
  margin-bottom: 0;
}

p {
  font-size: 35px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: #222629;
  
}

.button {
  background-color: #aaaaaa00;
  border-radius: 10px;
  color: #222629;
  padding: 15px 32px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 225px;
}

.button:hover {
  color: #ffffff;
  background-color: #222629;
}